[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Git signs written in pure lua
[access "refs/*"]
	owner = group user/Lewis Russell (lewis6991)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Lewis Russell (lewis6991)
	label-Verified = -1..+1 group user/Lewis Russell (lewis6991)
	push = group user/Lewis Russell (lewis6991)
	read = group user/Lewis Russell (lewis6991)
	rebase = group user/Lewis Russell (lewis6991)
	removeReviewer = group user/Lewis Russell (lewis6991)
	submit = group user/Lewis Russell (lewis6991)
[access "refs/heads/*"]
	create = group user/Lewis Russell (lewis6991)
	push = +force group user/Lewis Russell (lewis6991)
	pushMerge = group user/Lewis Russell (lewis6991)
	read = group user/Lewis Russell (lewis6991)
[access "refs/tags/*"]
	push = group user/Lewis Russell (lewis6991)
	push = +force group user/Lewis Russell (lewis6991)
